.menu-item { list-style-type: none; }

.checkbox  input[type=checkbox] { margin-right: 5px; }

.restaurant-container { list-style-type: none; }

.restaurant-name { color: grey; font-size: 110%; }

.restaurant-list { padding-left: 0; margin-top: 50px;}

.img-and-name img {
	height: 60px;
}